In [1]:
import pandas
import os

In [2]:
filepath = os.path.join("..", "..", "dataset", "metadata", "grid_metadata.csv")
filepath

'../../dataset/metadata/grid_metadata.csv'

# Overview

In [3]:
df = pandas.read_csv(filepath)
df.head()

,grid_id,location,tz,wkt
0,1X116,Taipei,Asia/Taipei,"POLYGON ((121.5257644471362 24.97766123020391,..."
1,1Z2W7,Delhi,Asia/Calcutta,"POLYGON ((77.30453178416276 28.54664454217707,..."
2,3S31A,Los Angeles (SoCAB),Etc/GMT+8,POLYGON ((-117.9338248256995 33.79558357488509...
3,6EIL6,Delhi,Asia/Calcutta,"POLYGON ((77.07995296313287 28.54664454217707,..."
4,7334C,Delhi,Asia/Calcutta,"POLYGON ((77.12486872733885 28.54664454217707,..."

In [4]:
df.describe()

,grid_id,location,tz,wkt
count,54,54,54,54
unique,54,3,3,54
top,1X116,Delhi,Asia/Calcutta,"POLYGON ((121.5257644471362 24.97766123020391,..."
freq,1,33,33,1

# Features

- `grid_id (string)`: A 5-character alphanumeric ID that uniquely identifies a 
  `5x5` km grid cell
- `location (string)`: The location associated with a grid cell 
  (Delhi, Los Angeles(SoCAB), or Taipei)
- `tz`: The timezone used to localize the dates. Note that the dates for Los 
  Angeles (SoCAB) ignore daylight savings time and use the Etc/GMT+8 timezone.
- `wkt`: The geometry / polygonal coordinates of the grid cell

## `wkt`

`wkt` stands for [Well-known text representation of geometry](https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry)

In [5]:
df.loc[:, "wkt"][0]

'POLYGON ((121.5257644471362 24.97766123020391, 121.5257644471362 25.01836939334328, 121.4808486829302 25.01836939334328, 121.4808486829302 24.97766123020391, 121.5257644471362 24.97766123020391))'