In [1]:
import pandas as pd
import os

# Overview

In [2]:
filepath = os.path.join(
    "..", "..", "dataset",
    "metadata", "train_labels.csv")

df = pd.read_csv(filepath)

In [3]:
df.head()

               datetime grid_id  value
0  2018-02-01T08:00:00Z   3S31A   11.4
1  2018-02-01T08:00:00Z   A2FBI   17.0
2  2018-02-01T08:00:00Z   DJN0F   11.1
3  2018-02-01T08:00:00Z   E5P9N   22.1
4  2018-02-01T08:00:00Z   FRITQ   29.8